@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FFFFFF;
    color: #6B7280;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display), serif;
    color: #1C1917;
  }
}
